<!DOCTYPE html>
<html>
<head>
    <title>Wine Quality Predictor</title>
</head>
<body>

    <h1>Wine Quality Analysis Form</h1>

    <form action="/predict" method="POST">

        <label>Fixed Acidity:</label>
        <input type="text" name="fixed acidity"><br><br>

        <label>Volatile Acidity:</label>
        <input type="text" name="volatile acidity"><br><br>

        <label>Citric Acid:</label>
        <input type="text" name="citric acid"><br><br>

        <label>Residual Sugar:</label>
        <input type="text" name="residual sugar"><br><br>

        <label>Chlorides:</label>
        <input type="text" name="chlorides"><br><br>

        <label>Free Sulfur Dioxide:</label>
        <input type="text" name="free sulfur dioxide"><br><br>

        <label>Total Sulfur Dioxide:</label>
        <input type="text" name="total sulfur dioxide"><br><br>

        <label>Density:</label>
        <input type="text" name="density"><br><br>

        <label>pH:</label>
        <input type="text" name="pH"><br><br>

        <label>Sulphates:</label>
        <input type="text" name="sulphates"><br><br>

        <label>Alcohol:</label>
        <input type="text" name="alcohol"><br><br>

        <button type="submit">Predict Quality</button>

    </form>

</body>
</html>
